﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-desktop"></i> <span class="nav-label">Groups</span></a>
            </li>
            <li class="@Html.IsSelected(controller:"Stories", action: "Index")">
                <a href="@Url.Action("Index", "Stories")"><i class="fa fa-laptop"></i> <span class="nav-label">Stories</span> </a>
            </li>
            <li class="@Html.IsSelected(action: "NewStory")">
                <a href="@Url.Action("NewStory", "Stories")"><i class="fa fa-desktop"></i> <span class="nav-label">New Story</span></a>
            </li>
        </ul>
    </div>
</nav>