﻿@model UserStories.Models.GroupModel
@{
    ViewBag.Title = "Groups";
}

<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm("Groups", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>New Group <small>Add new group section</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Group List</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="tbl_Groups" class="table table-striped table-bordered table-hover"></table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#tbl_Groups').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "../Home/GetGroups",
                "sServerMethod": "POST",
                "aoColumns": [
                { "title": "Name", "mDataProp": "Name" },
                { "title": "Description", "mDataProp": "Description" },
                { "title": "Story Count", "mDataProp": "StoryCount" },
                { "title": "User Count", "mDataProp": "UserCount" }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                }

            });

        });

        function fnClickAddRow() {

            var data = {
                Name: $("#Name").val(),
                Description: $("#Description").val(),
            }

            $.ajax({
                url: '../Home/AddGroup',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    alert(response);
                    $('#tbl_Groups').DataTable().ajax.reload();
                }
            });

        }
    </script>
}
