﻿@model UserStories.Models.StoryModel
@{
    ViewBag.Title = "New Story";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">                                    
                                    @Html.Label(@Model.Title, new { @class = "control-label col-sm-2" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.Label(@Model.Description, new { @class = "control-label col-sm-2" })                                 
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Content, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.Label(@Model.Content, new { @class = "control-label col-sm-2" })                                 
                                </div>
                            </div>  
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Group(s)</label>
                                <div class="col-sm-10">
                                    @Html.Label(ViewData["GroupName"].ToString(), new { @class = "control-label col-sm-2" })
                                </div>
                            </div>      
                                                 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white" href="/Stories">Cancel</a>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}