﻿@model List<Stories.BLL.Models.StoryBM>

@{
    ViewBag.Title = "My Stories";
}
<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <section id="features" class="container services">
       @{Html.RenderAction("StoryList", "Stories", new { Model = Model });}
    </section>
</div>

<script type="text/javascript">
    var BlockNumber = 2;  //Infinate Scroll starts from second block
    var NoMoreData = false;
    var inProgress = false;

    $(document).ready(function () {
        $(window).scroll(function () {

          
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - 5 && !NoMoreData && !inProgress) {

                inProgress = true;
                $("#loadingDiv").show();

                $.post("@Url.Action("InfinateScroll", "Stories")", { "BlockNumber": BlockNumber },
                    function (data) {

                        BlockNumber = BlockNumber + 1;
                        NoMoreData = data.NoMoreData;
                        $("#rowDiv").append(data.HTMLString);
                        $("#loadingDiv").hide();
                        inProgress = false;
                    });
            }
        });
    });
</script>