﻿@model List<Stories.BLL.Models.StoryBM>

<div class="row" id="rowDiv">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-sm-3">
            <h2>@Model[@i].Title</h2>
            <p>@Model[@i].Description</p>
            <p>
                <a class="navy-link" href="/Stories/Details/@Model[@i].Id" role="button">Details &raquo;</a></p>
            <p><a class="navy-link" href="/Stories/Edit/@Model[@i].Id" role="button">Edit &raquo;</a></p>
        </div>
    }

</div>